@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  color: #ffffff;
  box-sizing: border-box;
}

.w-96 {
  width: 24rem;
}

.w-128 {
  width: 32rem;
}

.w-192 {
  width: 48rem;
}
